<!-- Footer fragment -->
<footer id="footer" class="bg-dark text-light py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2 class="h2 text-success border-bottom pb-3 logo">Transición Energética</h2>
                    <p>Liderando el camino hacia un sistema energético descarbonizado, seguro y asequible.</p>
                </div>
                <div class="col-md-4">
                    <h2 class="h2 border-bottom pb-3">Enlaces</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-decoration-none text-light">Dashboard Global</a></li>
                        <li><a href="#" class="text-decoration-none text-light">Reportes 2024</a></li>
                        <li><a href="#" class="text-decoration-none text-light">Metas ODS</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h2 class="h2 border-bottom pb-3">Newsletter</h2>
                    <div class="input-group mb-2">
                        <input type="text" class="form-control bg-dark border-light text-light" placeholder="Email">
                        <button class="btn btn-success">Unirse</button>
                    </div>
                </div>
            </div>
        </div>
        <p class="mb-1">
            © 2026 Transición Energética | Proyecto bootcamp programación nivel exploratorio
        </p>
    </footer>
