<!-- Footer -->
<footer id="main_footer" class="bg-dark text-light py-5">
    <div class="container">
        <div class="row text-start">
            <div class="col-md-4 mb-3">
                <h2 class="logo">Transición Energética</h2>
                <p>Liderando el camino hacia un sistema energético descarbonizado, seguro y asequible.</p>
            </div>
            <div class="col-md-4 mb-3">
                <h2>Enlaces</h2>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-decoration-none">Dashboard Global</a></li>
                    <li><a href="#" class="text-decoration-none">Reportes 2024</a></li>
                    <li><a href="#" class="text-decoration-none">Metas ODS</a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-3">
                <h2>Newsletter</h2>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Email">
                    <button class="btn">Unirse</button>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mt-3">
        <p class="mb-0">© 2026 Transición Energética | Proyecto Bootcamp Programación Nivel Exploratorio</p>
    </div>
</footer>
